<h2 class="page-header">Create Sellers</h2>
<form method="post" action="/sellers/create">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" name="email" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Contact No.</label>
    <input type="phone" class="form-control" name="contact" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
   <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" name="cpassword" placeholder="Conform Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>